body {
	background-color: #121212;
}
.png-element1 {
	position: relative;
	width: 655px;
	height: 400px;
	object-fit: cover;
	left: -2px;
	top: -50px;
	transform: rotate(-35deg) scaleX(-1) translateY(-300px);
	animation: anim 1.25s ease forwards;
}
.png-element2 {
	position: relative;
	width: 100%;
}
.header-link {
	text-decoration: none;
	color: white;
	margin: 5%;
	&:hover {
		text-decoration: underline;
	}
}
.links-header {
	height: 50px;
	position: sticky;
	top: 0; /* Фиксируем у верхнего края */
	z-index: 1000;
}

h1 {
	font-family: 'go3v2', sans-serif;
	font-size: 75px;
	color: white;
	cursor: default;
	animation: fade 1.5s ease-out forwards;
}
h2 {
	white-space: nowrap;
	font-size: 35px;
	font-weight: 300;
	color: white;
	cursor: default;
	animation: fade 1.5s ease-out forwards;
}
h3 {
	width: 450px;
	font-size: 15px;
	font-weight: 100;
	color: white;
	cursor: default;
	animation: fade 1.5s ease-out forwards;
}
.main-text-con {
	width: 700px;
	height: 400px;
}

@keyframes anim {
	from {
		transform: rotate(-35deg) scaleX(-1) translateY(-300px);
	}
	to {
		transform: rotate(0) scaleX(-1) translateY(0);
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.title {
	color: white;
	font-weight: 800;
	font-size: 35px;
}
.text-au {
	color: white;
	font-weight: 300;
	font-size: 20px;
}
