@font-face {
	font-family: 'go3v2'; /* Имя шрифта */
	src: url('../../assets/fonts/go3v2.ttf') format('truetype'); /* Путь к шрифту и его формат */
	font-weight: normal;
	font-style: normal;
}
.header {
	height: 50px;
	background-color: black;
}
.logo {
	font-family: 'go3v2', sans-serif;
	font-size: 35px;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
.header-btn {
	height: 40px;
}
.cart-quantity {
	position: absolute;
	background-color: red;
	color: white;
	font-size: 14px;
	padding: 0 7px;
	border-radius: 50%;
	transform: translateX(-10px) translateY(-5px);
}
